DOMAIN=domain.tld

GITLAB_SUBDOMAIN=gitlab
GITLAB_SSH_PORT=22
GITLAB_VERSION='19.3.2'

GITLAB_RUNNER_VERSION='18.10.0'

# To enable Mattermost set `true`. To disable Mattermost leave empty.
MATTERMOST_ENABLE=
MATTERMOST_SUBDOMAIN=mattermost

NGINX_REAL_IP_TRUSTED_ADDRESSES=[]

# To enable Object Storage set `true`. To disable Object Storage leave empty.
OBJECT_STORAGE_ENABLE=
OBJECT_STORAGE_ACCESS_KEY=s3-access-key
OBJECT_STORAGE_BUCKET_PREFIX=your-s3-bucket-prefix-
OBJECT_STORAGE_ENDPOINT=https://s3.domain.tld
OBJECT_STORAGE_REGION=your-s3-region
OBJECT_STORAGE_SECRET_KEY=s3-secret-key

# To enable Registry set `true`. To disable Registry leave empty.
REGISTRY_ENABLE=
REGISTRY_STORAGE_ACCESS_KEY=${OBJECT_STORAGE_ACCESS_KEY}
REGISTRY_STORAGE_BUCKET=your-s3-bucket
REGISTRY_STORAGE_REGION=${OBJECT_STORAGE_REGION}
REGISTRY_STORAGE_REGION_ENDPOINT=${OBJECT_STORAGE_ENDPOINT}
REGISTRY_STORAGE_SECRET_KEY=${OBJECT_STORAGE_SECRET_KEY}
REGISTRY_SUBDOMAIN=registry

# To enable SMTP set `true`. To disable SMTP leave empty.
SMTP_ENABLE=
SMTP_ADDRESS=smtp.domain.tld
SMTP_DOMAIN=my.domain.tld
SMTP_ENABLE_STARTTLS_AUTO=false
SMTP_PORT=465
SMTP_TLS=true
SMTP_USER_NAME=my-smtp-user
SMTP_USER_PASSWORD=my-smtp-password

COMPOSE_FILE=compose.yaml${MATTERMOST_ENABLE:+:compose.mattermost.yaml}${REGISTRY_ENABLE:+:compose.registry.yaml}
